* {
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
        &:link{
            color: $font-black;
        }
        &:visited{
            color: $font-black;
        }
        &:hover{
            color: $main-pink;
        }
}

li{
    list-style: none;
}

.header .svg-inline--fa {
    vertical-align: 0px;
}

.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

html{
    font-family: 'Lato', sans-serif;
    color: $font-black;
}
h6{
    font-size: 18px;
    letter-spacing: 0.45px;
}
h5{
    font-size: 24px;
}
h4 {
    font-size: 30px;
    letter-spacing: 0.75px;
}
h3{
    font-size: 40px;
}
h2{
    font-size: 50px;
}
h1{
    font-size: 60px;
}

table{
    text-align: center;
    border-collapse: collapse;
}

html,
body {
  height: 100%;
}